<% if (user) { %>

<body onload="handleFavorites(<%= JSON.stringify(product) %>,<%= JSON.stringify(user) %>,'load')"
  onbeforeunload="handleFavorites(<%= JSON.stringify(product) %>,<%= JSON.stringify(user) %>, 'beforeunload')">
  <button id="<%= product.id %>" class="fbl-favorites" type="submit"
    onclick="handleFavorites(<%= JSON.stringify(product) %>,<%= JSON.stringify(user) %>, 'click')">
    <span>♥</span>
  </button>
</body>

<% } %>
